.nav_iteams {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: aliceblue;
   
}

.nav_list{
     
    color: aliceblue;
    text-decoration: none;
    margin-left: 13px;
    padding: 3px;
    }
.nav_logo{
    text-decoration: none;
    color: aliceblue;
    padding: 4px;
    margin: 8px;
}
.nav_list:hover{
    text-decoration: underline;
    color: aliceblue;
}